version: '3.8'

services:
#  postgres:
#    image: postgres:15.3-alpine
#    network_mode: "host"
#    ports:
#      - ${DATABASE_PORT}:5432
#    volumes:
#      - ./.data/db:/var/lib/postgresql/data
#    environment:
#      POSTGRES_USER: ${DATABASE_USERNAME}
#      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
#      POSTGRES_DB: ${DATABASE_NAME}

  maildev:
    build:
      context: .
      dockerfile: maildev.Dockerfile
    network_mode: "host"
    ports:
      - ${MAIL_CLIENT_PORT}:1080
      - ${MAIL_PORT}:1025

  adminer:
    image: adminer
    restart: always
    network_mode: "host"
    ports:
      - 8080:8080

  # Uncomment to use redis
  # redis:
  #   image: redis:7-alpine
  #   network_mode: "host"
  #   ports:
  #     - 6379:6379
